<div class="container">
  <form
    [formGroup]="uploadForm"
    [ngStyle]="{
      border: selectedFile ? 'none' : '4px dashed #fff'
    }"
  >
    <span *ngIf="!selectedFile">
      <input type="file" (change)="onFileChange($event)" accept="image/*" />

      <p>Drag your files here or click in this area.</p>
    </span>

    <button (click)="uploadFile()" type="submit" [disabled]="!selectedFile">
      {{ !selectedFile ? "Select Image" : "Upload" }}
    </button>
    <!-- 
    <br /><br /><br />
    <button (click)="getCreditsInfo()">Credits Remainig</button> -->
  </form>
</div>

<p-toast></p-toast>
<!-- 
<div class="card flex justify-content-center">
  <p-dialog
    header="Credit Status"
    [(visible)]="visible"
    [modal]="true"
    class="cred"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="m-2">
      <p-table [value]="credits" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Credits Total</th>
            <th>Credits Remainig</th>
            <th>Credits Used</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-credits>
          <td>{{ credits.Total }}</td>
          <td>{{ credits.Remainig }}</td>
          <td>{{ credits.Used }}</td>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div> -->
